.button {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	border: none;
	font-size: 14px;
	transition: .25s;
	vertical-align: middle;
}

.primary {
	color: var(--white);
	background-color: var(--primary);
	text-transform: uppercase;
}

.primary:hover {
	background-color: var(--primary-light);
}

.ghost {
	color: var(--black);
	background-color: none;
	border: 1px solid var(--gray-light);
}

.ghost:hover {
	color: var(--white);
	background-color: var(--primary);
}

.arrow {
	width: 14px;
	vertical-align: middle;
	transition: .25s;
}
.arrow.down {
	transform: rotate(90deg);
}

.primary .arrow {
	stroke: var(--white);
}
.primary:hover .arrow {
	stroke: var(--white);
}

.ghost .arrow {
	stroke: var(--black);
}
.ghost:hover .arrow {
	stroke: var(--white);
}