.tag {
	border-radius: 20px;
	display: inline-block;
	padding: 5px 10px;
}
.sm {
	font-size: 12px;
	line-height: 12px;
}
.md {
	font-size: 14px;
	line-height: 14px;
}

.ghost {
	border: 1px solid var(--gray-light);
}
.red {
	font-weight: bold;
	background-color: var(--red);
}

.gray {
	background-color: #B3C0D9;
	color: var(--white);
}
.green {
	background-color: var(--green-light);
	color: var(--green);
	font-weight: bold;
}
.primary {
	background-color:none;
	color: var(--primary);
	border: 1px solid var(--primary);
}